extends layout
block content
  div(id="container" style="padding-top: 10%; padding-bottom: 10%; margin: 0 auto; width: 200px;")
    form( method="post" style="text-align: center")
      input(type="text" placeholder="username" name="username")
      br
      input(type="password" placeholder="password" name="password")
      br
      input(value="Login" type="submit")