html
    head
      title Dashboard
      link(rel='stylesheet', href='/css/panel.css')

    body
      div
        ul
          each doc in arr
            li
              a(href="https://github.com/" + doc)
                img(src="http://placehold.it/150x150")
                br 
                br
                p #{doc}
          